@model ScarpeCo.Models.Articolo

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Articolo</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Nome, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nome, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Prezzo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Prezzo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Prezzo, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Descrizione, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Descrizione, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Descrizione, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImmagineCopertinaUrl, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="@Url.Content(Model.ImmagineCopertinaUrl)" alt="Immagine di copertina" class="img-responsive edit" />
                <input type="file" name="FileImmagineCopertina" id="FileImmagineCopertina" />
                @Html.ValidationMessageFor(model => model.ImmagineCopertinaUrl, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImmagineAggiuntiva1Url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="@Url.Content(Model.ImmagineAggiuntiva1Url)" alt="Immagine aggiuntiva 1" class="img-responsive edit" />
                <input type="file" name="FileImmagineAggiuntiva1" id="FileImmagineAggiuntiva1" />
                @Html.ValidationMessageFor(model => model.ImmagineAggiuntiva1Url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ImmagineAggiuntiva2Url, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <img src="@Url.Content(Model.ImmagineAggiuntiva2Url)" alt="Immagine aggiuntiva 2" class="img-responsive edit" />
                <input type="file" name="FileImmagineAggiuntiva2" id="FileImmagineAggiuntiva2" />
                @Html.ValidationMessageFor(model => model.ImmagineAggiuntiva2Url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.InVetrina, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.InVetrina)
                    @Html.ValidationMessageFor(model => model.InVetrina, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>

    <input type="hidden" name="ImmagineCopertinaUrl" value="@Model.ImmagineCopertinaUrl" />
    <input type="hidden" name="ImmagineAggiuntiva1Url" value="@Model.ImmagineAggiuntiva1Url" />
    <input type="hidden" name="ImmagineAggiuntiva2Url" value="@Model.ImmagineAggiuntiva2Url" />

}

<div>
    @Html.ActionLink("Back to List", "All", null, new { @class = "nav-link" })
</div>

@section Scripts {
    <script>
        $(function () {
            $.validator.methods.range = function (value, element, param) {
                var globalizedValue = value.replace(",", ".");
                var minValue = param[0].toString().replace(",", ".");
                var maxValue = param[1].toString().replace(",", ".");
                return this.optional(element) || (globalizedValue >= minValue && globalizedValue <= maxValue);
            };

            $.validator.methods.number = function (value, element) {
                return this.optional(element) || /^-?\d+([\,]\d+)?$/.test(value);
            };

            $.validator.culture = "it-IT";
        });
    </script>
}

